<h1>Buttons</h1>
<p>Use this to create buttons with the tds-lib standard classes</p>
<h3>Default Button</h3>
<button type='submit' class='tds-lib_form'>Default Button</button>
<h3>Disabled</h3>
<button type='submit' class='tds-lib_form' disabled=''>Disabled Button</button>
<h3>Primary</h3>
<button type='submit' class='tds-lib_form primary'>Primary Button</button>
<h3>Success</h3>
<button type='submit' class='tds-lib_form success'>Success Button</button>
<h3>Warning</h3>
<button type='submit' class='tds-lib_form warning'>Warning Button</button>
<h3>Danger</h3>
<button type='submit' class='tds-lib_form danger'>Danger Button</button>
<br>
<br>
<iframe width="100%" height="300" src="//jsfiddle.net/victorvargasramirez/kttyatt7/embedded/html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>