			<form role="form" onsubmit="return false">
				<h1 class='page-header'>Label</h1>
				<p>Use 'tds-lib_form' for label tag style.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;label <span style="color:#00f">for</span>=<span style="color:#093">"inputText"</span> class=<span style="color:#093">"tds-lib_form"</span>>Input Label&lt;/label></pre>
				<div class="form-group">
					<label for="inputText" class="tds-lib_form">Input Label</label>
				</div>
				<hr>
				<h1 class='page-header'>Short Input</h1>
				<p>Use 'tds-lib_form' class for Input Text.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;input <span style="font-weight:700">id</span>=<span style="color:#093">"inputText"</span> class=<span style="color:#093">"tds-lib_form"</span> placeholder=<span style="color:#093">"Enter the text"</span> type=<span style="color:#093">"text"</span>></pre>
				<div class="form-group">
					<label for="inputText" class="tds-lib_form">Input Label</label>
					<input id="inputText" type="text" class="tds-lib_form" placeholder="Enter the text">
				</div>
				<hr>
				<h1 class='page-header'>Long Input</h1>
				<p>Use 'tds-lib_form' class and 'tds-lib_form_long' class for Long Input Text.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;input <span style="font-weight:700">id</span>=<span style="color:#093">"inputTextLong"</span> class=<span style="color:#093">"tds-lib_form tds-lib_form_long"</span> placeholder=<span style="color:#093">"Enter the text"</span> type=<span style="color:#093">"text"</span>></pre>

				<div class="form-group">
					<label for="inputTextLong" class="tds-lib_form">Input Label</label>
					<input id="inputTextLong" type="text" class="tds-lib_form tds-lib_form_long" placeholder="Enter the text">
				</div>
				<hr>
				<h1 class='page-header'>Telephone input</h1>
				<p>Use 'tds-lib_form' class and 'tds-lib_form_phone' class for Input Text with telephone icon.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;input <span style="font-weight:700">id</span>=<span style="color:#093">"inputTextTelephone"</span> class=<span style="color:#093">"tds-lib_form tds-lib_form_phone"</span> placeholder=<span style="color:#093">"Enter the text"</span> type=<span style="color:#093">"text"</span>></pre>
				<div class="form-group">
					<label for="inputTextTelephone" class="tds-lib_form">Input Label</label>
					<input id="inputTextTelephone" type="text" class="tds-lib_form tds-lib_form_phone" placeholder="Enter the text">
				</div>
				<hr>
				<h1 class='page-header'>Cellphone input</h1>
				<p>Use 'tds-lib_form' class and 'tds-lib_form_cellphone' class for Input Text with cellphone icon.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;input <span style="font-weight:700">id</span>=<span style="color:#093">"inputTextCellphone"</span> class=<span style="color:#093">"tds-lib_form tds-lib_form_cellphone"</span> placeholder=<span style="color:#093">"Enter the text"</span> type=<span style="color:#093">"text"</span>></pre>
				<div class="form-group">
					<label for="inputTextCellphone" class="tds-lib_form">Input Label</label>
					<input id="inputTextCellphone" type="text" class="tds-lib_form tds-lib_form_cellphone" placeholder="Enter the text">
				</div>
				<hr>
				<h1 class='page-header'>User name input</h1>
				<p>Use 'tds-lib_form' class and 'tds-lib_form_phone' class for Input Text with user icon.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;input <span style="font-weight:700">id</span>=<span style="color:#093">"inputTextUser"</span> class=<span style="color:#093">"tds-lib_form tds-lib_form_username"</span> placeholder=<span style="color:#093">"Enter the text"</span> type=<span style="color:#093">"text"</span>> </pre>
				<div class="form-group">
					<label for="inputTextUser" class="tds-lib_form">Input Label</label>
					<input id="inputTextUser" type="text" class="tds-lib_form tds-lib_form_username" placeholder="Enter the text">
				</div>
				<hr>
				<h1 class='page-header'>E-mail input</h1>
				<p>Use 'tds-lib_form' class for Input Email with e-mail icon.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;input <span style="font-weight:700">id</span>=<span style="color:#093">"inputTextUser"</span> class=<span style="color:#093">"tds-lib_form tds-lib_form_username"</span> placeholder=<span style="color:#093">"Enter the text"</span> type=<span style="color:#093">"text"</span>></pre>
				<div class="form-group">
					<label for="inputTextEmail" class="tds-lib_form">Input Label</label>
					<input id="inputTextEmail" type="email" class="tds-lib_form" placeholder="Enter the text">
				</div>
				<hr>
				<h1 class='page-header'>Textarea</h1>
				<p>Use 'tds-lib_form' class for Textarea tag.</p>

<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#03c">&lt;<span style="font-weight:700">textarea</span> <span style="color:#36c;font-style:italic">id</span>=<span style="color:#093">"textArea"</span> <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"tds-lib_form"</span> <span style="color:#36c;font-style:italic">placeholder</span>=<span style="color:#093">"Enter the text"</span>></span>
<span style="color:#03c">&lt;/<span style="font-weight:700">textarea</span>></span>
</pre>

				<div class="form-group">
				<label for="textArea" class="tds-lib_form">Textarea Label</label>
				<textarea id="textArea" class="tds-lib_form" placeholder="Enter the text"></textarea>
				</div>

				<hr>
				<h1 class='page-header'>Submit Input</h1>
				<p>Use 'tds-lib_form' class for Input Submit.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;input class=<span style="color:#093">"tds-lib_form"</span> value=<span style="color:#093">"Save"</span> type=<span style="color:#093">"submit"</span>> </pre>
				<div class="form-group">
					<input type="submit" class="tds-lib_form" value="Save" >
					<input type="submit" class="tds-lib_form" value="Cancel" >
				</div>
				<hr>
				<h1 class='page-header'>Submit Button </h1>
				<p>Use 'tds-lib_form' class for Button Tag.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#03c">&lt;<span style="font-weight:700">button</span> <span style="color:#36c;font-style:italic">type</span>=<span style="color:#093">"submit"</span> <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"tds-lib_form"</span> <span style="color:#36c;font-style:italic">disabled</span>=<span style="color:#093">""</span>></span>Save 2<span style="color:#03c">&lt;/<span style="font-weight:700">button</span>></span></pre>
				<div class="form-group">
					<button type="submit" class="tds-lib_form" disabled>Save 2</button>
					<button type="submit" class="tds-lib_form" >Cancel 2</button>
				</div>
				<hr>
				<h1 class='page-header'>Link Button </h1>
				<p>Use 'tds-lib_form' class for a Tag.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;a href=<span style="color:#093">"#"</span> class=<span style="color:#093">"tds-lib_button"</span> >Link Button&lt;/a> </pre>

				<div class="form-group">
				<a href="#" class="tds-lib_button">Link Button</a>
				</div>

				<hr>
				<h1 class='page-header'>Upload file input</h1>
				<p>Use 'tds-lib_form' class for Input File (Upload input).</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;input <span style="font-weight:700">id</span>=<span style="color:#093">"inputFile"</span> class=<span style="color:#093">"tds-lib_form"</span> placeholder=<span style="color:#093">"Enter the text"</span> type=<span style="color:#093">"file"</span>></pre>
				<div class="form-group">
					<label for="inputFile" class="tds-lib_form">Upload</label>
					<input id="inputFile" type="file" class="tds-lib_form" placeholder="Enter the text">
				</div>
				<hr>

 <script>
	var mySelect1 = new tds_lib.Select(document.getElementsByClassName("tds-lib_form_select")[0]);
</script>

<h1 class='page-header'>Select</h1>
        <p>Use 'tds-lib_form_select' class for select plugin</p>
        
        <div class='tds-lib_form_select'>
          <span></span>
          <span><i class="tds-lib-icon-display tds-lib-16x"></i></span>
          <div>
            <span value="Option 1">Option 1</span>
            <span value="Option 2">Option 2</span>
            <span value="Option 3">Option 3</span>
          </div>
        </div>

        <h2 class='page-subheader'>HTML</h2>
        <pre style="background:rgba(238,238,238,0.92);color:#000">&lt;div class<span style="color:#00f">=</span><span style="color:#093">'tds-lib_form_select'</span>>
  &lt;span>&lt;<span style="color:#00f">/</span>span>
  &lt;span>&lt;i class<span style="color:#00f">=</span><span style="color:#093">"tds-lib-icon-display tds-lib-16x"</span>>&lt;<span style="color:#00f">/</span>i>&lt;<span style="color:#00f">/</span>span>
  &lt;div>
     &lt;span <span style="color:#33f;font-weight:700">value</span><span style="color:#00f">=</span><span style="color:#093">"Option 1"</span>>Option <span style="color:#06f">1</span>&lt;<span style="color:#00f">/</span>span>
     &lt;span <span style="color:#33f;font-weight:700">value</span><span style="color:#00f">=</span><span style="color:#093">"Option 2"</span>>Option <span style="color:#06f">2</span>&lt;<span style="color:#00f">/</span>span>
     &lt;span <span style="color:#33f;font-weight:700">value</span><span style="color:#00f">=</span><span style="color:#093">"Option 3"</span>>Option <span style="color:#06f">3</span>&lt;<span style="color:#00f">/</span>span>
  &lt;<span style="color:#00f">/</span>div>
&lt;<span style="color:#00f">/</span>div>
</pre>

        <h2 class='page-subheader'>JavaScript</h2>
        <p>Get the div element with class 'tds-lib_form_select' from the DOM</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#00f">var</span> mySelect1 <span style="color:#00f">=</span> <span style="color:#00f">new</span> tds_lib.Select(document.getElementsByClassName(<span style="color:#093">"tds-lib_form_select"</span>)[<span style="color:#06f">0</span>]);</pre>

        <h2 class='page-subheader'>Methods</h2>
        <p>Get 'select' current value</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.getSelectValue();
</pre>

<p>Get 'select' current text</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.getSelectText();
</pre>

<p>Get text associated to value</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.getTextByValue(<span style="color:#33f;font-weight:700">value</span>);
</pre>

        <p>Get all option values</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.getAllValues();
</pre>

        <p>Get all option texts</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.getAllTexts();
</pre>

				<p>Set active option</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.setActiveOption(<span style="color:#33f;font-weight:700">value</span>);
</pre>

        <p>Add select option</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.addOption(<span style="color:#33f;font-weight:700">value</span>,<span style="color:#33f;font-weight:700">text</span>);
</pre>

        <p>Remove option by value</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.removeByValue(<span style="color:#33f;font-weight:700">value</span>);
</pre>

        <p>Remove option by index</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.removeAt(<span style="color:#33f;font-weight:700">index</span>);
</pre>

        <p>Remove all options</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1<span style="color:#00f">.</span>removeAll<span style="color:#9700cc">()</span>;
</pre>

				<p>Trigger onChange event</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1<span style="color:#00f">.</span>runOnChange<span style="color:#9700cc">()</span>;
</pre>
	
				<h2 class='page-subheader'>Events</h2>
        <p>onChangeOption(): Execute some action when the current select value change</p>
        <pre style="background:rgba(238,238,238,0.92);color:#000">mySelect1.onChangeOption(function(){
                            alert(<span style="color:#093">"Hello World!"</span>);
                        });
</pre>

        <hr>
				





				<hr>
				<h1 class='page-header'>Radio Button</h1>
				<p>Use 'tds-lib_form' class for Input Radio. Add the label tag before Input Radio tag statement.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#03c">&lt;<span style="font-weight:700">div</span> <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"form-group"</span>></span>
    <span style="color:#03c">&lt;<span style="font-weight:700">div</span> <span style="color:#36c;font-style:italic">id</span>=<span style="color:#093">"radioExample"</span>></span>
        <span style="color:#03c">&lt;<span style="font-weight:700">div</span>></span>
            <span style="color:#03c">&lt;<span style="font-weight:700">input</span> <span style="color:#36c;font-style:italic">id</span>=<span style="color:#093">"radio1"</span> <span style="color:#36c;font-style:italic">type</span>=<span style="color:#093">"radio"</span> <span style="color:#36c;font-style:italic">name</span>=<span style="color:#093">"radio"</span> <span style="color:#36c;font-style:italic">value</span>=<span style="color:#093">"1"</span> <span style="color:#36c;font-style:italic">checked</span>=<span style="color:#093">"checked"</span> <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"tds-lib_form"</span>></span>
            <span style="color:#03c">&lt;<span style="font-weight:700">label</span> <span style="color:#36c;font-style:italic">for</span>=<span style="color:#093">"radio1"</span>  <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"tds-lib_form"</span>></span>Radio 1<span style="color:#03c">&lt;/<span style="font-weight:700">label</span>></span>
        <span style="color:#03c">&lt;/<span style="font-weight:700">div</span>></span>
    <span style="color:#03c">&lt;/<span style="font-weight:700">div</span>></span>
<span style="color:#03c">&lt;/<span style="font-weight:700">div</span>></span>
</pre>
				<div class="form-group">
					<label for="radioExample" class="tds-lib_form">Input Label</label>
					<div class="radioExample">
						<div>
							<input id="radio1" type="radio" name="radio" value="1" checked="checked" class="tds-lib_form"><label for="radio1"  class="tds-lib_form">Radio 1</label>
						</div>
						<div>
							<input id="radio2" type="radio" name="radio" value="2" class="tds-lib_form"><label for="radio2"  class="tds-lib_form">Radio 2</label>
						</div>
						<div>
							<input id="radio3" type="radio" name="radio" value="3" class="tds-lib_form"><label for="radio3"  class="tds-lib_form">Radio 3</label>
						</div>
					</div>
				</div>
				<hr>
				<h1 class='page-header'>Checkbox input</h1>
				<p>Use 'tds-lib_form' class for Input Checkbox. Add the label tag before Input Checkbox tag statement.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#03c">&lt;<span style="font-weight:700">div</span> <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"form-group"</span>></span>
    <span style="color:#03c">&lt;<span style="font-weight:700">div</span> <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"exampleCheckbox"</span>></span>
        <span style="color:#03c">&lt;<span style="font-weight:700">div</span>></span>
            <span style="color:#03c">&lt;<span style="font-weight:700">input</span> <span style="color:#36c;font-style:italic">id</span>=<span style="color:#093">"checkbox1"</span> <span style="color:#36c;font-style:italic">type</span>=<span style="color:#093">"checkbox"</span>   <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"tds-lib_form"</span>></span>
            <span style="color:#03c">&lt;<span style="font-weight:700">label</span> <span style="color:#36c;font-style:italic">for</span>=<span style="color:#093">"checkbox1"</span>  <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"tds-lib_form"</span>></span>Checkbox 1<span style="color:#03c">&lt;/<span style="font-weight:700">label</span>></span>
        <span style="color:#03c">&lt;/<span style="font-weight:700">div</span>></span>
    <span style="color:#03c">&lt;/<span style="font-weight:700">div</span>></span>
<span style="color:#03c">&lt;/<span style="font-weight:700">div</span>></span>
</pre>
				<div class="form-group">
					<div class="exampleChecbox">
						<div>
							<input id="checkbox1" type="checkbox"   class="tds-lib_form"><label for="checkbox1"  class="tds-lib_form">Checkbox 1</label>
						</div>
						<div>
							<input id="checkbox2" type="checkbox"  class="tds-lib_form"><label for="checkbox2"  class="tds-lib_form">Checkbox 2</label>
						</div>
						<div>
							<input id="checkbox3" type="checkbox"  class="tds-lib_form"><label for="checkbox3"  class="tds-lib_form">Checkbox 3</label>
						</div>
					</div>
				</div>
				<hr>
				<h1 class='page-header'>Output text</h1>
				<p>Use 'tds-lib_form' class for Output Tag.</p>
				<pre style="background:rgba(238,238,238,0.92);color:#000">&lt;output class=<span style="color:#093">"tds-lib_form"</span>>Esto es un output de prueba&lt;/output></pre>
				<div class="form-group">
					<output  class="tds-lib_form">Output text</output>
				</div>
			</form>