<h1 class="page-header">jsTree</h1>
<p>jsTree is jquery plugin, that provides interactive trees. It is absolutely free, open source and distributed under the MIT license. jsTree is easily extendable, themable and configurable, it supports HTML & JSON data sources and AJAX loading.</p>

<h2 class="page-header">Example:</h2>
<img src="images/jsTreeExample.png" alt="jsTree" style="width:228px;height:304px">

<h2 class="page-header">Including jsTree</h2>
<p>Include the following code into the head section of your site's HTML. If you want to use the jsTree elements.</p>
<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#03c">&lt;<span style="font-weight:700">script</span> <span style="color:#36c;font-style:italic">src</span>=<span style="color:#093">"/resources/tds-lib/lib/jstree/jstree.min.js"</span>>&lt;/<span style="font-weight:700">script</span>></span></pre>



<h2 class="page-header">Code example:</h2>
<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#03c">&lt;<span style="font-weight:700">div</span> <span style="color:#36c;font-style:italic">id</span>=<span style="color:#093">"jstree"</span>></span>
    <span style="color:#03c">&lt;<span style="font-weight:700">ul</span>></span>
        <span style="color:#03c">&lt;<span style="font-weight:700">li</span>></span>Root node 1
            <span style="color:#03c">&lt;<span style="font-weight:700">ul</span>></span>
                <span style="color:#03c">&lt;<span style="font-weight:700">li</span> <span style="color:#36c;font-style:italic">id</span>=<span style="color:#093">"child_node_1"</span>></span>Child node 1<span style="color:#03c">&lt;/<span style="font-weight:700">li</span>></span>
                <span style="color:#03c">&lt;<span style="font-weight:700">li</span>></span>Child node 2<span style="color:#03c">&lt;/<span style="font-weight:700">li</span>></span>
            <span style="color:#03c">&lt;/<span style="font-weight:700">ul</span>></span>
        <span style="color:#03c">&lt;/<span style="font-weight:700">li</span>></span>
        <span style="color:#03c">&lt;<span style="font-weight:700">li</span>></span>Root node 2<span style="color:#03c">&lt;/<span style="font-weight:700">li</span>></span>
    <span style="color:#03c">&lt;/<span style="font-weight:700">ul</span>></span>
<span style="color:#03c">&lt;/<span style="font-weight:700">div</span>></span></pre>


<h2 class="page-header">When DOM is ready, create an instance of jstree with the following javascript code:</h2>
<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#33f;font-weight:700">$</span>('<span style="color:#36c;font-style:italic">#divMenu</span>').jstree();</pre>

<h2 class="page-header">For more information:</h2>
<a href="http://www.jstree.com/" class="text_url_01">jsTree</a>
