<h1 class="page-header">Medium link</h1>
<p>Use 'text_url_01' class for medium size link Tag.</p>
	<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#03c">&lt;<span style="font-weight:700">a</span> <span style="color:#36c;font-style:italic">href</span>=<span style="color:#093">"#"</span> <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"text_url_01"</span>></span>Link<span style="color:#03c">&lt;/<span style="font-weight:700">a</span>></span></pre>

<div >
	 <a href="#" class="text_url_01">Link</a>
</div>

<hr>

<h1 class="page-header">Small link</h1>
<p>Use 'text_url_02' class for small size link Tag.</p>
	<pre style="background:rgba(238,238,238,0.92);color:#000"><span style="color:#03c">&lt;<span style="font-weight:700">a</span> <span style="color:#36c;font-style:italic">href</span>=<span style="color:#093">"#"</span> <span style="color:#36c;font-style:italic">class</span>=<span style="color:#093">"text_url_02"</span>></span>Link<span style="color:#03c">&lt;/<span style="font-weight:700">a</span>></span></pre>

<div >
		<a href="#" class="text_url_02">Link</a>
</div></div>