<h1 class="page-header">Typography</h1>
<p>Typography are css properties that can be applied to all HTML elements like: <code>&lt;p&gt;, &lt;a&gt;, &lt;div&gt;, &lt;h1&gt;, ..., &lt;h6&gt;, &lt;span&gt;</code>, and others... </p>
<div class="table_container">
	<table class="table">
		<thead>
			<th>Class</th>
			<th>General Use</th>
			<th>Example</th>
			<th>Example</th>
		</thead>
		<tbody>
			<!--TITLE 01-->
			<tr>
				<td>.tds-lib_title_01</td>
				<td>Special Cases</td>
				<td><p class="tds-lib_title_01">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_title_01"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<!--TITLE 02-->
			<tr>
				<td>.tds-lib_title_02</td>
				<td>Tabs titles and other titles</td>
				<td><p class="tds-lib_title_02">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_title_02"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<!--TITLE 03-->
			<tr>
				<td>.tds-lib_title_03</td>
				<td>General titles</td>
				<td><p class="tds-lib_title_03">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_title_03"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<!--TITLE 04-->
			<tr>
				<td>.tds-lib_title_04</td>
				<td>Pop Ups Headers</td>
				<td><p class="tds-lib_title_04">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_title_04"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<!--TITLE 05-->
			<tr>
				<td>.tds-lib_title_05</td>
				<td>Table Headers</td>
				<td><p class="tds-lib_title_05">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_title_05"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<!--TITLE 06-->
			<tr>
				<td>.tds-lib_title_06</td>
				<td>Simbology</td>
				<td><p class="tds-lib_title_06">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_title_06"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<!--DEFAULT TEXT-->
			<tr>
				<td>.tds-lib_default_text</td>
				<td>Default Text</td>
				<td><p class="tds-lib_default_text">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_default_text"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<tr>
				<td>.tds-lib_text_01</td>
				<td>Light Gray</td>
				<td><p class="tds-lib_text_01">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_text_01"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<tr>
				<td>.tds-lib_text_02</td>
				<td>Bold black text</td>
				<td><p class="tds-lib_text_02">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_text_02"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<tr>
				<td>.tds-lib_text_italic</td>
				<td>Makes italic some text</td>
				<td><p class="tds-lib_text_italic">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_text_italic"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<tr>
				<td>.tds-lib_text_detail</td>
				<td>Used for details</td>
				<td><p class="tds-lib_text_detail">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_text_detail"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<tr>
				<td>.tds-lib_text_marker</td>
				<td>Special Marker</td>
				<td><p class="tds-lib_text_marker">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_text_marker"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
			<tr>
				<td>.tds-lib_text_disabled</td>
				<td>Disabled text</td>
				<td><p class="tds-lib_text_disabled">Result Example</p></td>
				<td><pre style="background:rgba(238,238,238,0.92);color:#000">&lt;p class=<span style="color:#093">"tds-lib_text_desabled"</span>>Aplication Example&lt;/p></pre></td>
			</tr>
		</tbody>
	</table>
</div>